<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<style>
a {
  text-decoration: none;
}
body {
 margin: 0;
  padding: 0;
  background: url(tirtanadi.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color:white; 

}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;


}


#card-content {
  padding: 12px 44px;


}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 10px;
  padding-bottom: -1050%;
  padding-top: 13px;
  text-align: center;
 transform: translate(5%, -90%);
}
#signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: left;


}
#submit-btn {
  background: -webkit-linear-gradient(right, red, blue);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: red;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
  text-align: center;
  padding: 10px 15px;
 float: center;
 position: absolute;
 left:44%;
 transform: translate(-30%, -80%);
}

#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;

}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;

}
.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 70%;

}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
 transform: translate(-30%, -80%);
}
.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 100%;

}
.daftar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 15, 0.5);
  padding: 50px;
  width: 260px;
  box-shadow: 0 0 20px 3px blue;

 } 




</style>
</body>
</html>
